@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --font: 'Noto Sans'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(69, 163, 229);
}
.noscript-bg {
    font-family: inherit;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    align-items: center;
    justify-content: center;
}
.noscript-box {
    font-family: inherit;
    background-color: white;
    padding: 64px;
    text-align: center;
    width: 75vw;
    height: 75vh;
}
.noscript-box img {
    width: 300px;
    height: 300px;
}
.noscript-box h2 {
    font-size: 32px;
    margin-bottom: 16px;
}
.noscript-box p {
    font-size: 24px;
    margin-bottom: 32px;
}
.display {
    padding: 32px;
    font-family: var(--font);
}
.centered {
    text-align: center;
}
h1 {
    width: 100%;
    font-size: 64px;
    color: white;
    text-shadow: 2px 2px black;
}
.video-wrapper {
    display: block;
    padding: 24px;
}
iframe {
    border: 3px silver outset;
    animation: 1.5s linear 0s infinite alternate none running iframeGlow;
    background-color: black;
}
.video-controls {
    padding: 16px;
    margin-bottom: 32px;
}
button {
    padding: 6px 12px;
    font-size: 32px;
    border: 2px silver outset;
    outline: none;
    transition-duration: 350ms;
}
button:hover {
    background-color: rgb(182, 201, 238);
    cursor: pointer;
}
button:active {
    border: 2px silver inset;
}

@keyframes iframeGlow {
    from {
        box-shadow: 0px 0px 20px 8px rgb(255, 239, 151);
    }
    to {
        box-shadow: 0px 0px 5px 1px rgb(255, 239, 151);
    }
}

@keyframes fridayBg {
    25% {
        background: rgb(65, 196, 222);
    }
    
    50% {
        background: rgb(140, 199, 63);
    }
    
    75% {
        background: rgb(243, 211, 51);
    }
    
    100% {
        background: rgb(247, 142, 86);
    }
}